.page 
{
    margin: 0;
}

.top-block
{
    max-height: 360px;
    height: 100%;
    background: #F5F5F5;
}

.top-block__logo
{
    font: 400 26px "Lora";
    color: #FFFFFF;
}

.top-block__ref
{
    letter-spacing: 0.6px;
    text-decoration: 0;
    font: 400 12px/1.67 "Oxygen";
    color: #FFFFFF;
    text-transform: uppercase;
}

.top-block__title
{
    letter-spacing: 2px;
    font: 400 50px/1.02 "Lora";
    font-weight: 400;
    color: #FFFFFF;
}

.top-block__text 
{
    font: 400 17px/1.18 "Oxygen";
    color: rgba(255, 255, 255, 0.63);
}

.main-block
{
    background: #F7F7F7;
    padding: 15px;
}


.bottom-block
{
    background: #4D565D url(../images/bottom_block.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 89px;
}

.bottom-block__blur
{
    max-height: 89px;
    background: rgba(35, 47, 56, 0.6);
}

.bottom-block__logo
{
    font: 400 26px/1 "Lora";
    color: #FFFFFF;
}

.bottom-block__ref
{
    text-decoration: 0;
    font: 400 11px/2.36 "Oxygen";
    color: rgba(255, 255, 255, 0.6);
}