.page 
{
    margin: 0;
}

.header
{
    position: absolute;
    top: 17px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.header__nav {
    max-width: 380px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;  
}

.header__logo
{
    
    font: 400 26px "Lora";
    color: #FFFFFF;
    cursor: pointer;
}

.header__ref
{
    letter-spacing: 0.6px;
    text-decoration: 0;
    font: 400 12px/1.67 "Oxygen";
    color: #FFFFFF;
    text-transform: uppercase;
}

.header__logo_color_black
{
    color: #2E2E2E;
}

.header__ref_color_black
{
    color: #2E2E2E;
}

.top-block__title
{
    letter-spacing: 2px;
    font: 400 50px/1.02 "Lora";
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.top-block__text 
{
    font: 400 17px/1.18 "Oxygen";
    color: rgba(255, 255, 255, 0.63);
    margin-bottom: 31px;
}

.bottom-block
{
    background: #4D565D url(../images/bottom_block.jpg);
    background-size: cover;
    height: 89px;
}

.bottom-block__blur
{
    height: 89px;
    background: rgba(35, 47, 56, 0.6);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.bottom-block__logo
{
    font: 400 26px "Lora";
    color: #FFFFFF;
    cursor: pointer;
}

.bottom-block__nav {
    max-width: 272px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.bottom-block__ref
{
    text-decoration: 0;
    font: 400 11px/2.36 "Oxygen";
    color: rgba(255, 255, 255, 0.6);
}