.top-block 
{
    min-height: 500px;
    background: url(../images/header.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-block__button 
{
    padding: 14px 0;
    width: 167px;
    background: #DD783F;
    color: #FFFFFF;
    text-transform: capitalize;
    border-radius: 3px;
    border: 0;
    cursor: pointer;
}

.tag-block 
{
    background: #FFFFFF;
    padding: 22px 0;
    margin: 0 auto;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.tag-block__ref 
{
    text-decoration: 0;
    font: 400 14px/1.43 "Lora";
    color: #768088;
}

.main-block 
{
    background: #F7F7F7;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 60px;
}

.main-block__featured-posts-block 
{
    width: 100%;
    margin-bottom: 67px;
}

.main-block__title 
{
    font: 400 20px/1.35 "Oxygen";
    letter-spacing: 2px;
    color: #2E2E2E;
    border-bottom: 1px solid #DEDEDE;
    padding-bottom: 16px;
    max-width: 180px;
    width: 100%;
    margin: 0 auto 21px;
    text-align: center;
}

.main-block__featured-posts 
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main-block__main-post
{
    width: 460px;
    min-height: 280px;
    border-radius: 3px;
    cursor: pointer;
}

.main-block__main-post_image_borealis 
{
    background-image: url(../images/the_road_ahead.jpg);
}

.main-block__main-post_image_lantern 
{
    background-image: url(../images/from_top_down.jpg);
}

.main-post 
{
    margin: 10px;
    text-decoration: 0;
}

.main-post__tag 
{
    margin-bottom: auto;
    width: 87px;
    padding: 7px 0;
    background: #DD783F;
    border: 0;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-post__tag-text 
{
    font: 400 12px/1.08 "Oxygen";
    text-transform: uppercase;
    color: #FFFFFF;
}

.main-post__info 
{
    box-sizing: border-box;
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.main-post__title 
{
    font: 400 27px/1.11 "Lora";
    color: #FFFFFF;
    margin: 0 0 8px 0;
}

.main-post__text 
{
    margin: 0;
    font: 400 14px/1.79 "Oxygen";
    color: rgba(255, 255, 255, 0.7);
}

.main-post__sub-menu 
{
    margin-top: 17px;
}

.sub-menu 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub-menu__date 
{
    font: 400 12px/2.92 "Oxygen";
    color: rgba(255, 255, 255, 0.7);
}


.sub-menu__date_color_black 
{
    color: #999999;
}

.sub-menu__author 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sub-menu__avatar 
{
    border-radius: 50%;
    margin-right: 10px;
}

.sub-menu__sign 
{
    font: 400 12px/2.92 "Oxygen";
    color: rgba(255, 255, 255, 0.7);
}

.sub-menu__sign_color_black 
{
    color: #999999;
}

.main-block__most-recent-posts-block 
{
    width: 66%;
    margin-bottom: 108px;
}

.main-block__most-recent-posts 
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main-block__post 
{
    max-width: 296px;
    width: 100%;
    min-height: 291px;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.09);
    border-radius: 3px;
    cursor: pointer;
}

.post
{
    margin: 22px 12px 25px;
}

.post__image 
{
    max-height: 150px;
    height: 100%;
    width: 100%;
}

.post__info 
{
    box-sizing: border-box;
    padding: 14px 13px 12px;
    min-height: 93px;
}

.post__title 
{
    font: 400 16px/1.31 "Lora";
    color: #101315;
    margin: 0 0 6px;
}

.post__text 
{
    margin: 0;
    font: 400 13px/1.46 "Oxygen";
    color: #7A7A7A;
}

.post__sub-menu 
{
    min-height: 48px;
    padding: 0 13px;
    border-top: 1px solid #EFEFEF;
    background: #FCFCFC;
}