.image-block
{
    height: 550px;
    background-size: cover;
}

.top-block__logo_color_black
{
    color: #2E2E2E;
}

.top-block__ref_color_black
{
    color: #2E2E2E;
}

.top-block__title_color_black
{
    color: #2E2E2E;
}

.top-block__text_color_black
{
    color: rgba(46, 46, 46, 0.63);
}

.main-block__article
{
    padding: 140px 240px 135px;
}

.article__text
{
    margin: 0 auto;
    font: 400 24px/1.46 "Oxygen";
    color: #101315;
}

.article__text:not(:last-child)
{
    margin-bottom: 40px;
}